{{>header}}


<h1 id="signup-h1">Sign up</h1>
<div id="div-form">
<form  id= "form-info" action="/auth/signup" method="POST" class="row g-3">
  <div class="col-md-6">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="inputUsername"> 
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" id="inputEmail"> 
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="inputPassword">
  </div>
  <div class="col-14">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
</div>
{{#if message}}
	<h3 class="error">{{message}}</h3>
{{/if}}

{{>footer}}