body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#aedaec
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 25px;
  color:aliceblue
 
}




input {
  padding:10px;
  margin:10px 0; 
  border-radius: 10px;
  font-family: monospace;
  background-color: rgb(253, 254, 255);
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button {
  background-color: rgb(243, 249, 255);
  border-radius: 10px;
  margin-left: 30px;
  font-size: 15px;
}

