body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background:#aedaec*/
  /*background:#c4c2c2*/
  background: linear-gradient(rgba(107, 52, 245, 0.818) 1% ,rgba(90, 44, 208, 0.29) 5%, rgba(255, 192, 203, 0.29) 39% , rgba(255, 158, 12, 0.697) 50%);
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 25px;
  color:aliceblue
 
}
h2{
  
}



input {
  padding:10px;
  margin:10px 0; 
  border-radius: 10px;
  font-family: monospace;
  background-color: rgb(253, 254, 255);
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button {
  background-color: rgb(243, 249, 255);
  border-radius: 10px;
  margin-left: 30px;
  font-size: 10px;

 
}
#first{
  margin-top: 50px ;
}
#zip{
 margin-top: 5px;
 padding-bottom: 5px;
 padding-top: 2px;
}
#city{
  margin-top: 10px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
#address{
  margin-top: 10px;
  padding-bottom: 2px; 

}

